{% extends "base.html.twig" %}

{% block body %}


    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ review.id }}</td>
            </tr>
            <tr>
                <th>texte</th>
                <td>{{ review.text }}</td>
            </tr>
            <tr>
                <th>Publicationdate</th>
                <td>{% if review.publicationDate %}{{ review.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>note</th>
                <td>{{ review.note }}</td>
            </tr>
        </tbody>
    </table>
    <li>
        <a href="{{ path('review_index') }}">Back to the list</a>
    </li>
    <li>
        <a href="{{ path('review_edit', { 'id': review.id }) }}">Edit</a>
    </li>



{% endblock %}